body
{
   margin-top: 15px;
   color: #555;
   font-family: sans-serif;
   font-size: 12px;
}

#contentholder
{
   width: 900px;
   margin: auto;
}

div.content
{
   width: 900px;
   float: left;
   border: 1px dotted #ccc;
}

div.toprow
{
   width: 870px;
   float: left;
   margin: 15px;
}

div.login
{
   width: 180px;
   float: left;
}

div.ebframe
{
   width: 400px;
   float: left;
}

div.banner
{
   width: 520px;
   float: left;
   text-align: center;
}

div.helpinfo
{
   width: 100px;
   float: left;
}


input.press
{
   border: 1px solid #ccc;
}
input.press:hover
{
   cursor: pointer;
   border: 1px solid #888;
}