
	body
	{
		margin: 0px;
		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		background-image: url('./img/formsbg.png');
	}
	input[type="button"]{cursor:pointer;}
	.bloop{
		position:absolute;
		index:1000;
	}
	#header_bg {
		background: url('./img/headerbg.png') repeat-x top center;
		padding-top: 36px;
		height: 100px;
	}
	#logo_div {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15%;
		float: left;
	}
	#logo_img {
		height: 61px;
		width: 318px;
	}
	#menu_div {
		color: white;
		margin-left: 15%;
		float: left;
		font-size: 16px;
		font-weight: bold;
	}
	#menu_div ul {
		list-style: none;
	}
	#menu_div li {
		float:  left;
		margin-left: 25px;
	}
	#menu_div a {
		text-decoration: none;
		color: inherit;
	}
	#menu_div a:hover {
		border-bottom: 2px solid #1260DE;
	}
	#header_bg {
		background: url('./img/headerbg.png') repeat-x top center;
		padding-top: 36px;
		height: 100px;
	}

