body {
	margin: 0px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
#header_bg {
	background: url('./img/headerbg.png') repeat-x top center;
	padding-top: 36px;
	height: 100px;
}
#logo_div {
	/*border: 1px solid black;*/
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15%;
	float: left;
}
#logo_img {
	height: 77px;
	width: 330px;
}
#menu_div {
	color: white;
	margin-left: 15%;
	float: left;
	font-size: 16px;
	font-weight: bold;
}
#menu_div ul {
	list-style: none;
}
#menu_div li {
	float:  left;
	margin-left: 25px;
}
.pric_cont {
	float: left;
	margin-top: 43px;
}
.log_sign {
	margin-left: 20px;
	float: left;
	margin-top: 0px;
}
.log_sign ul {
	padding-left: 0px;
}
#pers_info {
	font-size: 80%;
	margin-left: 20px;
	text-align: center;
}
#balance_div {
	margin-top: 10px;
}
#menu_div a {
	text-decoration: none;
	color: inherit;
}
#menu_div a:hover {
	border-bottom: 2px solid #1260DE;
}
#login_div {
	background: url('./img/formsbg.png') repeat scroll 0 0 transparent;
	color: white;
	margin-top: 50px;
	margin-left: -100px;
	padding: 15px;
	border-radius: 0px 0px 20px 20px;
	/*opacity: 0.85;*/
	width:250px;
	height:120px;
}
#signup_div {
	background: url('./img/formsbg.png') repeat scroll 0 0 transparent;
	color: white;
	margin-top: 50px;
	margin-left: -100px;
	padding: 15px;
	border-radius: 0px 0px 20px 20px;
	/*opacity: 0.85;*/
	width:260px;
	height:130px;
}

.bloop{
	display:block;
	position:absolute;
	z-index:1;
}

.username_div, .password_div {
	font-size: 80%;
	margin-top: 10px;
	margin-left: 10px;
}
.user_tf, .pass_tf {
	width: 150px;
	margin-left: 10px;
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.confirm_tf {
	width: 150px;
	margin-left: 22px;
	border-radius: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#remember_div {
	margin-top: 20px;
}
#login_btn_div {
	margin-top: -20px;
	margin-left: 145px;
}
#signup_btn_div {
	margin-top: 13px;
	margin-left: 90px;
}
#forgot, #remember {
	font-size: 70%;
	margin-left: 10px;
}
#forgot_div, #remember_div a:hover {
	margin-top: 20px;
	border-bottom: none;
}
.form_btn {
	width: 100px;
	height: 30px;
	background-color: #A2E3F5;
	border: 5px solid #1ABABA;
	border-radius: 10px;
	font-weight: bold;
	cursor:pointer;
}
#showbox {
	background: url('./img/showbox.png') repeat scroll 0 0 transparent;
	border-bottom: 2px solid #E1E3DC;
	/*display: none;*/
	padding: 36px 0;
	height: 200px;
}
#publish_btns {
	text-align: center;
}
#publish_btn, #advertise_btn {
	margin-top: 20px;
	cursor: pointer;
}
#publish_btns button {
	padding: 0px;
	border: 1px solid #76c7e7;
	width: 453px;
	height: 96px;
    border-radius: 10px 10px 10px 10px;
}
#publish_btn {
	background-image: url('./img/pub_btn.png');
}
#advertise_btn {
	background-image: url('./img/ad_btn.png');
	margin-left: 25px;
}
.box_container{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.other_info_container
{
    float: left;
    margin-top: 18px;
}
.video_header 
{
    
}
.video_title
{
    margin-left: 10px;
    float: left;
    width: 420px;
    font-weight: bold;
}

.video_box {
	height: 214px;
	color: white;
	margin-top: 20px;
	margin-left: 10px;
	background: url('./img/formsbg.png') repeat scroll 0 0 transparent;
	border-radius: 20px 20px 20px 20px;
}
.box_closed {
	height: 120px;
    width: 100px;
	margin-left: 10px auto;
	margin-right: 10px auto;
}
.box_image {
	margin-left:15px;
	float: left;
}
.video_image {
	width: 320px;
	height: 180px;
	margin-top: 12px;
	border: 4px solid #6DC8E0;
	border-radius: 10px 10px 10px 10px;
}

.other_n_embed {margin-left: 10px; margin-top: 50px;}
.video_other_info {
	font-size: 16px;
	width: 150px;
    height: 100px;
	font-weight: bold;
	text-align: left;
	float: left;
}

.box_open
{
    float: left;
    width: 420px;
    margin-left: 3px;
    border-left: solid #00afe9 1px;
}

.video_details {
	font-size: 80%;
    margin-bottom: 5px;
}

.details_btn_div {float: left; margin-left: 10px;}

.getlink_btn {
    margin-right: 10px;
	width: 150px;
	height: 30px;
    color: white;
	background-color: #FF9966;
    border-radius: 5px;
	font-weight: bold;
	cursor:pointer;
}

.embed_src{
	background-color: #99CCFF;
	/*border-radius: 10px 10px 10px 10px;*/
	height: 120px;
	width: 290px;
	margin-left: 10px;
	text-align: left;
}

.embed_size 
{
    float: left;
    margin-top: 20px;
}
.embed_box {float: left;}
.height_container {margin-top: 15px;}
.size_title{
	font-size: 90%;
	margin-left: 10px;
	width: 46px;
    float: left;
}
.size_input{
    float: left;
	margin-left: 3px;
	border-radius: 5px 5px 5px 5px;
}
.instructions{
	margin-left: 10px;
    color: #FFAF87;
    font-size: 120%;
    font-weight: bold;
}
