
/********************
	START: myaccviewer
*/
	.balance_hr{
		float: left;
		margin-left: 20px;
	}
	#paypal_warning{
		font-size:11px;
		width:500px;
		color:red;
	}
	#payment_box{
		float: left;
		height: 100px;
		width: 800px;
		border-top: 2px solid #DBD7D8;
		margin-left:10px;
		padding: 10px;
	}
	#widthraw_box{
		float: left;
		width: 800px;
		border-top: 2px solid #DBD7D8;
		margin-top:20px;
		margin-left:10px;
		padding: 10px;
	}
	#widthraw_inner_box{
		float: left;
		width: 700px;
		margin-left:52px;
	}
	#paypal_buttons_area{
		float:left;
		width: 800px;
		padding: 10px;
		margin: 10px;
		border-bottom: 2px solid #DBD7D8;
	}
	#content_menu
	{
		width: 840px;
		height: 80px;
		border-bottom: 2px solid #DBD7D8;
		margin-left: auto;
		margin-right: auto;
	}
	.content_menu_lst
	{
		margin-top: 5px;
		padding: 20px 30px 20px 30px;
		font-size: 24px;
		font-weight: bold;
		/*border-radius: 5px;*/
		float: left;
		cursor:pointer;
	}
	#cml_1, #cml_2, #cml_3 {border-right: 1px solid #DBD7D8;}
	#cml_1 {margin-left: 20px;}
	.balance_area_div
	{
		margin: 30px auto auto 70px;
		width: 850px;
		overflow: auto;
		padding-bottom: 20px;
	}
	.balance_title_span
	{
		color: #00c0ee;
		font-size: 20px;
		font-weight: bold;
		margin-bottom:10px;
		margin-left:-20px;
	}
	.paypal_title_span
	{
		color: #00c0ee;
		font-size: 20px;
		font-weight: bold;
		margin-bottom:10px;
	}
	.balance_title_area
	{
		width: 750px;
		height: 50px;
	}
	.balance_info{
		width: 400px;
		height: 350px;
		padding-right: 400px;
		margin-left: 50px;
		font-size: 14px;
		font-weight: bold;
	}
	.balance_section{
		width:750px;
	}
	.balance_label{
		padding:5px;
		color:black;
		width:250px;
		height: 30px;
		display:inline;
		float:left;
		margin-left: 20px;
	}
	.balance_data{
		padding:5px;
		color:#222222;
		width:100px;
		height: 30px;
		display:inline;
		float:left;
		text-align: right;
	}
	.balance_row{
		border-bottom:1px dotted gray;
		float:left;
		width:700px;
		font-size:90%;
	}
	.balance_row_head{
		border-bottom:2px solid black;
		float:left;
		width:700px;
	}
	.balance_test{
		background-color: #DDDDDD;
		border: 1px solid #BBBBBB;
		width: 750px;
		padding: 5px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#btn_recalc{
		float:right;
		margin-right: 0px;
	}
	.btn_flat{
		border:1px solid #DDDDDD;
		padding:5px;
		margin:5px;
		background-color:transparent;
	}
	#recalcwait{
		float:right;
		margin-top:10px;
	}
	#pay_cel1{
		width:600px;
		height:120px;
		float:left;
		margin-left:40px;
	}
	#pay_cel2{
		width:150px;
		height:120px;
		float:right;
	}

/*
	END: myaccviewer
********************/
