
	.content_menu_lst
	{
		margin-top: 5px;
		padding: 20px 40px 20px 40px;
		font-size: 24px;
		font-weight: bold;
		/*border-radius: 5px;*/
		float: left;
	}
	#cml_1, #cml_2, #cml_3 {border-right: 1px solid #DBD7D8;}
	#cml_1 {margin-left: 20px;}
	.balance_area_div
	{
		margin: 30px auto auto 70px;
		width: 800px;
		overflow: auto;
		padding-bottom: 20px;
	}
	.balance_title_span
	{
		color: #00c0ee;
		font-size: 20px;
		font-weight: bold;
		margin-bottom:10px;
		margin-left:-20px;
	}
	.balance_info{
		width: 250px;
		height: 200px;
		padding-right: 400px;
		margin-left: 50px;
	}
	.balance_section{
		width:750px;
	}
	.balance_label{
		padding:5px;
		color:black;
		width:100px;
		display:inline;
		float:left;
	}
	.balance_data{
		padding:5px;
		color:#222222;
		display:inline;
		float:left;
	}
	.balance_row{
		border-bottom:1px dotted gray;
		float:left;
		width:800px;
		font-size:90%;
	}
	.balance_row_head{
		border-bottom:2px solid black;
		float:left;
		width:800px;
	}
	.balance_test{
		background-color: #DDDDDD;
		border: 1px solid #BBBBBB;
		width: 750px;
		padding: 5px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

