
	.content_menu_lst
	{
		margin-top: 5px;
		padding: 20px 40px 20px 40px;
		font-size: 24px;
		font-weight: bold;
		/*border-radius: 5px;*/
		float: left;
	}
	#cml_1, #cml_2, #cml_3 {border-right: 1px solid #DBD7D8;}
	#cml_1 {margin-left: 20px;}

