
/********************
	START: mainpageviewer
*/
	.content_container
	{
		background-color: white;
		margin-left: auto;
		margin-right: auto;
	}
	.user_content_container
	{
		border-radius: 15px;
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 970px;
		margin-left: auto;
		margin-right: auto;
	}
	#content_menu
	{
		width: 840px;
		height: 80px;
		border-bottom: 2px solid #DBD7D8;
		margin-left: auto;
		margin-right: auto;
	}
	#showbox {
		background: url('./img/showbox.png') repeat scroll 0 0 transparent;
		border-bottom: 2px solid #E1E3DC;
		/*display: none;*/
		padding: 36px 0;
		height: 200px;
		margin:auto;
	}
	#publish_btns {
		text-align: center;
	}
	#publish_btn, #advertise_btn {
		margin-top: 20px;
		cursor:pointer;
	}
	#publish_btns button {
		padding: 0px;
		border: 1px solid #76c7e7;
		width: 453px;
		height: 96px;
		border-radius: 10px 10px 10px 10px;
	}
	#publish_btn {
		background-image: url('./img/pub_btn.png');
	}
	#advertise_btn {
		background-image: url('./img/ad_btn.png');
		margin-left: 25px;
	}
	.video_list_title{
		font-size:150%;
		width:900px;
		margin-left:auto;
		margin-right:auto;
		margin-top:20px;
		margin-bottom:-20px;
	}

/*
	END: mainpageviewer
********************/
