
/********************
	START: mainpageviewer
*/
	.contact_row{
		padding: 10px;
	}
	.contact_row_txt{
		padding: 10px;
		height:150px;
	}
	.contact_us_area_div
	{
		margin: 30px auto auto 120px;
		width: 450px;
		overflow: auto;
		padding-bottom: 100px;
	}
	.contact_us_container
	{
		border-radius: 15px;
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
	.content_container
	{
		background-color: white;
		margin-left: auto;
		margin-right: auto;
	}
	.user_content_container
	{
		border-radius: 15px;
		background-color: white;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 970px;
		margin-left: auto;
		margin-right: auto;
	}
	#showbox {
		background: url('./img/showbox.png') repeat scroll 0 0 transparent;
		border-bottom: 2px solid #E1E3DC;
		/*display: none;*/
		padding: 36px 0;
		height: 370px;
		margin:auto;
	}
	.showbox_content{
		margin-left: auto;
		margin-right: auto;
		margin-top: -20px;
		width: 960px;
		cursor: auto;
	}
	#showbox_content_pubvideo{
		background: url('./img/showbox_bg_pubvideo.png') no-repeat center ;
		height: 430px;
    }
	#showbox_content_home{
		background: url('./img/showbox_bg_home.png') no-repeat center ;
		height: 430px;
    }
	#showbox_content_addvideo{
		background: url('./img/showbox_bg_addvideo.png') no-repeat center ;
		height: 490px;
    }
	#publish_btns {
		text-align: center;
	}
	#publish_btn, #advertise_btn {
		margin-top: 20px;
		cursor:pointer;
	}
	#publish_btns button {
		padding: 0px;
		border: 1px solid #76c7e7;
		width: 453px;
		height: 96px;
		border-radius: 10px 10px 10px 10px;
	}
	#publish_btn {
		background-image: url('./img/pub_btn.png');
	}
	#advertise_btn {
		background-image: url('./img/ad_btn.png');
		margin-left: 25px;
	}
	.video_list_title{
		font-size:150%;
		width:900px;
		margin-left:auto;
		margin-right:auto;
		padding-top:20px;
		margin-bottom:-20px;
	}

/*
	END: mainpageviewer
********************/
