

.box_container{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}


.video_details {
	font-size: 80%;
    margin-bottom: 5px;
}

.details_btn_div {float: left; margin-left: 10px;}


.height_container {margin-top: 30px;}
.instructions{
	margin-left: 10px;
    color: #FFAF87;
    font-size: 120%;
    font-weight: bold;
}


